<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MOSS: Mother of All SpreadSheets</title>
    <!-- accessing Bootstrap content delivery network (CDN) -->
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
    />
    <!-- linking to stylesheet location, CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" type="image/ico" href="../static/images/DT.jpg">
</head>

<body>

</body>
</html>
